.linear-gradient {
  text-transform: uppercase;
  /* identical to box height */

  background: linear-gradient(267.81deg, #3c3dbf 1.92%, #2998ff 106.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.overflow-custom::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* .overflow-custom::-webkit-scrollbar-track {
   background: #888;
} */

/* Handle */
.overflow-custom::-webkit-scrollbar-thumb {
  background: rgb(202, 197, 197);
}

/* Handle on hover */
/* .overflow-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
